<div class="commerce-swiper-container d-flex">
	<div class="commerce-swiper swiper col-9">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			{% for item in element.items %}
				<div class="swiper-slide">
					{{item}}
				</div>
			{% endfor %}
		</div>
		<!-- controller -->
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
	<div
		class="commerce-swiper-thumb mt-3">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			{% for item in element.items %}
				<div class="swiper-slide">
					{{item}}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
